In [1]:
2 + 2

4

In [3]:
name = "Zaid Kamil"
age = 200
salary = 50000
college = 'University of Lucknow'

In [4]:
a = None

In [6]:
names = ['John', 'Bob', 'Mary', 'Jane']

In [1]:
fixed_values= (1,2,3,5,56,6,7,78,89,67,45,45,3,43,456)

# Operators

In [3]:
321939483 + 32432432

354371915

In [7]:
10 /3

3.3333333333333335

In [6]:
10 ** 3

1000

In [8]:
x = 10

In [9]:
x += 10

In [10]:
x -= 5

In [11]:
"hello" == 'hello'

True

In [20]:
x = [5,1,2,3]
y = [5,1,2,3]
z = x # z refers to the same object as x

In [17]:
x == y # value same

True

In [18]:
x is y #

False

In [21]:
x is z

True

In [22]:
days = ['sunday', 'monday', 'tuesday',
        'wednesday', 'thursday', 'friday', 'saturday']

In [23]:
'monday' in days

True

In [24]:
'holiday' in days

False

In [25]:
nums = [1,23,12,31,231,23,123,]
5 in nums

False

In [26]:
print(nums)

[1, 23, 12, 31, 231, 23, 123]

In [27]:
msg = input()

In [28]:
msg = input("Enter your name: ")

In [ ]:
"once more"