In [1]:
2 + 2

4

In [3]:
name = "Zaid Kamil"
age = 200
salary = 50000
college = 'University of Lucknow'

In [4]:
a = None

In [6]:
names = ['John', 'Bob', 'Mary', 'Jane']

In [1]:
fixed_values= (1,2,3,5,56,6,7,78,89,67,45,45,3,43,456)

# Operators

In [3]:
321939483 + 32432432

354371915

In [7]:
10 /3

3.3333333333333335

In [6]:
10 ** 3

1000

In [8]:
x = 10

In [9]:
x += 10

In [10]:
x -= 5

In [11]:
"hello" == 'hello'

True

In [20]:
x = [5,1,2,3]
y = [5,1,2,3]
z = x # z refers to the same object as x

In [17]:
x == y # value same

True

In [18]:
x is y #

False

In [21]:
x is z

True

In [22]:
days = ['sunday', 'monday', 'tuesday',
        'wednesday', 'thursday', 'friday', 'saturday']

In [23]:
'monday' in days

True

In [24]:
'holiday' in days

False

In [25]:
nums = [1,23,12,31,231,23,123,]
5 in nums

False

In [26]:
print(nums)

[1, 23, 12, 31, 231, 23, 123]

In [27]:
msg = input()

In [28]:
msg = input("Enter your name: ")

In [ ]:
"once more"

# some more examples

In [1]:
name = input("Enter your name: ")
city = input("Enter your city: ")
fav_food = input("Enter your favourite food: ")
fav_movie = input("Enter your favourite movie: ")
fav_book = input("Enter your favourite book: ")

print(f'Your name: {name} üßë‚Äçüíª')
print(f'Your city: {city}')
print(f'Your favourite food: {fav_food}')
print(f'Your favourite movie: {fav_movie}')
print(f'Your favourite book: {fav_book}')

Your name: William üßë‚Äçüíª
Your city: Townsberg
Your favourite food: lava
Your favourite movie: volcano
Your favourite book: legion

In [2]:
num1 = int(input("Enter a number: "))
num2 = int(input("Enter another number: "))
num3 = num1 + num2
print(f'{num1} + {num2} = {num3}')

6789 + 8293 = 15082

In [3]:
p= float(input("Enter perpendicular: "))
b = float(input("Enter base: "))
h= (p**2 + b**2) ** 0.5
print(f'Hypotenuse: {h}')

Hypotenuse: 5.0

calculate S.I. and Amount based on Principal and Rate and Time

In [6]:
p = float(input("Enter Principal Amt: "))
r = float(input("Enter Rate of Interest: "))
t = float(input("Enter Time: "))
si = p * r * t / 100
a = si + p
print(f'Simple Interest: {si}')
print(f'Amount: {a}')

Simple Interest: 6200.0
Amount: 16200.0

In [11]:
q = input("Do you like Lichi?")
if q == 'yes' or q == 'y' or q == 'ji':
    print('Lichi is the best')
if q == 'no' or q == 'n':
    print('Lichi is the worst')

Lichi is the worst