In [2]:
name = "Zaid Kamil"

- indexing ✅
- slicing ✅
- applying functions on strings ✅
- methods ✅
- iterating

In [3]:
len(name)

10

In [4]:
name[0]

'Z'

In [6]:
name[5]

'K'

In [7]:
name[11] #

IndexError: string index out of range

In [8]:
name[0] + name[1] + name[2] + name[3]

'Zaid'

In [12]:
for i in range(4):
    print(name[i], end='')

Zaid

In [9]:
name[-1]

'l'

In [10]:
name[-3] + name[-2] + name[-1]

'mil'

In [13]:
fname = name[0:4]
print(fname)

Zaid

In [14]:
name = "Vijay Deenanath Chauhan"

In [17]:
name[6:15]

'Deenanath'

In [20]:
name[-7:len(name)]

'Chauhan'

In [ ]:
for i in range(1,50000):
    print(chr(i),end=' ')

In [ ]:
'A'

method
- formatting
- utility
- validation

In [1]:
story = "Once upon a time, there was a kingdom where people lived, The end"

In [4]:
story.upper()

'ONCE UPON A TIME, THERE WAS A KINGDOM WHERE PEOPLE LIVED, THE END'

In [5]:
story.lower()

'once upon a time, there was a kingdom where people lived, the end'

In [6]:
story.capitalize()

'Once upon a time, there was a kingdom where people lived, the end'

In [7]:
print(story)

Once upon a time, there was a kingdom where people lived, The end

In [8]:
story.title()

'Once Upon A Time, There Was A Kingdom Where People Lived, The End'

In [9]:
story.swapcase()

'oNCE UPON A TIME, THERE WAS A KINGDOM WHERE PEOPLE LIVED, tHE END'

In [10]:
story.title().swapcase()

'oNCE uPON a tIME, tHERE wAS a kINGDOM wHERE pEOPLE lIVED, tHE eND'

In [11]:
story = story.upper()
print(story)

ONCE UPON A TIME, THERE WAS A KINGDOM WHERE PEOPLE LIVED, THE END

In [12]:
name = "Samuel"
print(name)

Samuel

In [14]:
print(name.ljust(100))

Samuel

In [15]:
print(name.rjust(100))

                                                                                              Samuel

In [19]:
story.rjust(100)

'                                   ONCE UPON A TIME, THERE WAS A KINGDOM WHERE PEOPLE LIVED, THE END'

In [30]:
story.center(80,'❌')

'❌❌❌❌❌❌❌ONCE UPON A TIME, THERE WAS A KINGDOM WHERE PEOPLE LIVED, THE END❌❌❌❌❌❌❌❌'

In [37]:
name = input('who are u?')
name.isalpha()

False

In [41]:
name = input('who are u?')
if not name.isalpha():
    print("name is invalid")
else:
    print("good job")

name is invalid

In [43]:
"912390".isnumeric()

True

In [45]:
num = input("enter a number: ")
if num.isnumeric():
    print("good job")
else:
    print('you dont know what a number is 🥴')

good job

In [47]:
story.isupper()

True

In [55]:
x = "myfile.png"
x.endswith('png')

True

In [53]:
name="Dr John Smith"
if name.startswith('Dr'):
    print('Welcome Doctor')
else:
    print("Welcome")

Welcome Doctor

important stuff below
- split
- join
- strip
- replace
- count
- find

In [56]:
story

'ONCE UPON A TIME, THERE WAS A KINGDOM WHERE PEOPLE LIVED, THE END'

In [58]:
words = story.split()
print(words)

['ONCE', 'UPON', 'A', 'TIME,', 'THERE', 'WAS', 'A', 'KINGDOM', 'WHERE', 'PEOPLE', 'LIVED,', 'THE', 'END']

In [59]:
story.split(',')

['ONCE UPON A TIME', ' THERE WAS A KINGDOM WHERE PEOPLE LIVED', ' THE END']

In [60]:
story.split('A')

['ONCE UPON ', ' TIME, THERE W', 'S ', ' KINGDOM WHERE PEOPLE LIVED, THE END']

In [62]:
len(story.split())

13

In [68]:
message = ['This','is','a','list']
s = ' '.join(message)
print(s)

This is a list

In [71]:
password = input("enter the password")
print(len(password), password)
password = password.strip()
print(len(password), password)

7  12312
5 12312

In [72]:
story

'ONCE UPON A TIME, THERE WAS A KINGDOM WHERE PEOPLE LIVED, THE END'

In [74]:
story.replace('E','A')

'ONCA UPON A TIMA, THARA WAS A KINGDOM WHARA PAOPLA LIVAD, THA AND'

In [75]:
story.replace('TIME','DATE')

'ONCE UPON A DATE, THERE WAS A KINGDOM WHERE PEOPLE LIVED, THE END'

In [76]:
story.replace("THE",'')

'ONCE UPON A TIME, RE WAS A KINGDOM WHERE PEOPLE LIVED,  END'

In [1]:
another_story = "This is an example of another story, this story is not simple and is not very long, but it is a story"

In [78]:
another_story.count('story')

3

In [79]:
another_story.count('is')

6

In [80]:
another_story.find('another')

22

In [81]:
another_story.find('story')

30

In [82]:
another_story.rfind('story')

96

In [2]:
for c in another_story:
    print(c)

T
h
i
s

i
s

a
n

e
x
a
m
p
l
e

o
f

a
n
o
t
h
e
r

s
t
o
r
y
,

t
h
i
s

s
t
o
r
y

i
s

n
o
t

s
i
m
p
l
e

a
n
d

i
s

n
o
t

v
e
r
y

l
o
n
g
,

b
u
t

i
t

i
s

a

s
t
o
r
y

In [3]:
for c in another_story.split():
    print(c)

This
is
an
example
of
another
story,
this
story
is
not
simple
and
is
not
very
long,
but
it
is
a
story