In [1]:
x = (1,23,4,5)

In [2]:
xl = list(x)
print(x, xl)

(1, 23, 4, 5) [1, 23, 4, 5]

In [3]:
xs = set(x)
print(x, xs)

(1, 23, 4, 5) {1, 4, 5, 23}

In [2]:
students = {
    'Amit': {'eng': 90,'math': 80,'sci': 70,'hindi': 60,'evs':90},
    'Vinay': {'eng': 80,'math': 70,'sci': 60,'hindi': 50,'evs':80,},
    'Raj': {'eng': 70,'math': 60,'sci': 50,'hindi': 40,'evs':70,},
}

In [3]:
students['Raj']

{'eng': 70, 'math': 60, 'sci': 50, 'hindi': 40, 'evs': 70}

In [5]:
students['Amit']['hindi']

60

In [11]:
for name, marks in students.items():
    print("Student :",name)
    for sub,mark in marks.items():
        print(f'=> {sub}: {mark}')
    print('-'*20)

Student : Amit
=> eng: 90
=> math: 80
=> sci: 70
=> hindi: 60
=> evs: 90
--------------------
Student : Vinay
=> eng: 80
=> math: 70
=> sci: 60
=> hindi: 50
=> evs: 80
--------------------
Student : Raj
=> eng: 70
=> math: 60
=> sci: 50
=> hindi: 40
=> evs: 70
--------------------